.profile {
  margin-top: 70px;
}

img  {
  max-width: 300px;
}

.img {
  margin-left: 200px;
  margin-right: 20px;
  float: left;
  max-width: 300px;
}

.battleClasses {
  float: left;
  margin-right: 100px;
  max-width: 400px;
  height: 400px;
  padding-top: 30px;
  margin-top: 50px;
}

.battleClasses h1 {
  font-size: 30px;
  color: aquamarine;
}

p {

}

.medic {
  padding-top: 5px;
  width: 40px;
  height: 25px;
  background: tomato;
  margin-bottom: 10px;
}

.trooper {
  padding-top: 5px;
  width: 70px;
  height: 25px;
  background: #5353ff;
  margin-bottom: 10px;
}

.support {
  padding-top: 5px;
  width: 100px;
  height: 25px;
  background: #008300;
  margin-bottom: 10px;
}

.sniper {
  padding-top: 5px;
  width: 50px;
  height: 25px;
  background: #ff49ff;
  margin-bottom: 10px;
}

.diagram {
  padding-right: 100px;
  float: left;
}

.diagram-weapons {
  float: right;
  margin-right: 100px;
  max-width: 400px;
  height: 400px;
  padding-top: 30px;
  margin-top: 50px;
}

.diagram-weapons h1 {
  font-size: 30px;
  color: aquamarine;
}
