<div class="profile">
    <div class="img">
      <img src="https://i.playground.ru//i/screenshot/72263/battlefield_1.jpg" alt="">
    </div>
    <div class="info">
      <h1>Привет, {{name}}!</h1>
      <h3>Любимый класс: {{battleClass}}</h3>
      <h3>Глобальный рейтинг: {{rating}} из {{maxRating}}.</h3>
      <h4>Был(а) в игре {{date}}</h4>
    </div>
    <div class="diagram">
      <div class="battleClasses">
        <h1>Классы</h1>
        <p>Медик</p>
        <div class="medic">20%</div>
        <p>Штурмовик</p>
        <div class="trooper">50%</div>
        <p>Поддержка</p>
        <div class="support">94%</div>
        <p>Разведчик</p>
        <div class="sniper">39%</div>
      </div>
    </div>
  <div class="diagram-weapons">
    <div class="weapons">
      <h1>Оружия</h1>
      <p>Гевер-98 Снайпер</p>
      <div class="medic">20%</div>
      <p>Дробовик Адских Солдат</p>
      <div class="trooper">50%</div>
    </div>
  </div>
</div>
