.profile {
  margin-top: 70px;
}

img  {
  max-width: 300px;
}

.img {
  margin-left: 200px;
  margin-right: 20px;
  float: left;
  max-width: 300px;
}

.diagramm {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
  height: 500px;
  float: left;
  margin-left: 200px;
}

.percent {
  font-size: 17px;
  font-weight: bolder;
  float: left;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 27px;
  color: #FFF9A5;
}

.diagramm-trooper {
  margin-right: 250px;
  float: right;
  background-color: aquamarine;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

.name  {
  font-weight: bolder;
  color: aliceblue;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  margin-left: 3px;
}

.medic {
  border: 2px solid white;
  border-radius: 6px;
  background-color: tomato;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

.support {
  border: 2px solid white;
  border-radius: 6px;
  background-color: #10D3E6;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

.trooper {
  border: 2px solid white;
  border-radius: 6px;
  background-color: #5112FE;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

.gun {
  border: 2px solid white;
  border-radius: 6px;
  background-color: tomato;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

.rifle {
  border: 2px solid white;
  border-radius: 6px;
  background-color: #10D3E6;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}

.pistol {
  border: 2px solid white;
  border-radius: 6px;
  background-color: #102C65;
  margin-right: 250px;
  float: right;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
}
