<div class="profile">
  <div class="img">
    <img
      src="https://i.playground.ru//i/screenshot/72263/battlefield_1.jpg"
      alt=""
    />
  </div>
  <div class="info">
    <h1>Привет, {{ name }}!</h1>
    <h3>Любимый класс: {{ battleClass }}</h3>
    <h3>Глобальный рейтинг: {{ rating }} из {{ maxRating }}.</h3>
    <h4>Был(а) в игре {{ date | date}}</h4>
  </div>

  <div class="diagramm">
    <h1>Классы игроков</h1>
    <div *ngFor="let i of battleClasses">
      <p class="percent">{{i.percent}}%</p>
      <div class="{{i.class}}">
        <p class="name">{{i.name}}</p>
      </div>
    </div>
  </div>
  <div class="diagramm">
    <h1>Классы оружия</h1>
    <div *ngFor="let i of weaponsClasses">
      <p class="percent">{{i.percent}}%</p>
      <div class="{{i.class}}">
        <p class="name">{{i.name}}</p>
      </div>
    </div>
  </div>
</div>
